body {
  font-family: sans-serif;
}

form p{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  line-height: 25px;
}

input {
  font-size: 1.1em;
  border-radius: 5px;
}

label {
  display: inline-block;
  width: 150px;
}

.listaErrores{
  background-color: rgb(235, 107, 107);
  border-radius: 5px;
}
